* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: ar-font;
  src: url(../fonts/Cairo-Regular.ttf);

}
body {
  direction: rtl;
  font-family: ar-font, sans-serif;
}
header video {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  position: fixed;
}

header .overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

header .overlay .brand {
  padding-top: 43px;
}
header .headerText {
  padding-top: 190px;
}
header .headerText h1{
  font-size: 40px;
  margin-bottom: 40px;
  line-height: 46px;
  color: #555555;
  font-family: ar-font;
}


header .headerText p {
  font-size: 18px;
  line-height: 32px;
  color: #5d5d5d;
  font-family: ar-font;
  margin-bottom: 50px;
}

header .headerBTN a.btn{
  border-radius: 1px;
  background-color: #7936b2;
  color: #ffffff;
  padding: 21px 55px;
  font-size: 18px;
  line-height: 38px;
  margin-left: 10px;
}


header .headerBTN a.btn:last-child {
  background-color: transparent;
  color: #7936b2;
}

header .product {
  margin-right: 110px;
  margin-bottom: 30px;
  position: relative;
}

header .priceLogo {
  position: absolute;
  top: -50px;
  right: -80px;
}

header .priceText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);  
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.feature {
  background-color: #ffffff;
  padding: 70px 0px 0px;
}

section.feature .featureText h2 {
  font-size: 36px;
  line-height: 33px;
  color: #555555;
  padding-bottom: 40px;
  position: relative;
}

section.feature .featureText h2::after {
  content: "";
  width: 145px;
  height: 2px;
  background-color: #6a3093;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


section.feature .featureContent .d-flex {
  padding: 85px 0px;
  border-bottom: 2px solid #eeeeee;
}


section.feature .featureContent .d-flex img {
  margin: 0px 80px;
}
section.feature .featureContent .d-flex:nth-child(even){
  direction: ltr;
}

section.feature .featureContent .d-flex h4 {
  font-size: 36px;
  line-height: 33px;
  color: #6a3093;
  font-weight: bold;
  padding: 5px 25px;
  margin-bottom: 50px;
  border-right: 3px solid #6a3093;
}

section.feature .featureContent .d-flex:nth-child(even) h4{
  border-right: 0px;
  border-left: 3px solid #6a3093;

}


section.feature .featureContent .d-flex p {
  font-size: 18px;
  line-height: 33px;
  color: #555555;
  word-wrap: break-word;
  max-width: 613px;
}

section.prices {
  padding: 50px 0px 60px;
  background-color: #f7f7f7;
}



section.prices .pricePlans .planCard {
  background-color: #ffffff;
  color: #acacac;
  margin-top: 100px;
  padding-top: 15px;
}

section.prices .pricePlans .row .col-md-6:nth-child(3) .planCard {
  padding-top: 60px;
  margin-top: 55px;
}
section.prices .pricePlans .title {
  color: #a044ff;
  font-size: 18px;
  font-weight: bold;
}

section.prices .pricePlans  .planCard h3 {
  font-size: 48px;
  margin: 30px auto 40px;
  position: relative;
}
section.prices .pricePlans .planCard h3 span {
  font-size: 15px;
  position: absolute;
  bottom: 0;
}
section.prices .pricePlans  .planCard ul {
  list-style: none;
  padding: 0;
}
section.prices .pricePlans .planCard ul li {
  font-size: 15px;
  margin-bottom: 32px;
  
}

section.prices .pricePlans .planCard a.btn {
  border: 2px solid #a044ff;
  background-color: #ffffff;
  color: #a044ff;
  padding: 13px 45px;
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}

section.prices .pricePlans .planCard a.btn:hover {
  color: #ffffff ;
  background-color: #a044ff;
}

section.prices .pricePlans .row .col-md-6:nth-child(3) .planCard a.btn {
  color: #ffffff ;
  background-color: #a044ff;
}



section.faq {
  padding: 50px 0px 50px;
  background-color: #ffffff;
  min-height: 520px;
}


section.faq .faqTitle h1 {
  margin-bottom: 50px;
}

section.faq .accordion .accordion-item {
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;

}

section.faq .accordion .accordion-item .accordion-header .accordion-button {
  font-size: 18px;
}
.accordion-button:focus {
  box-shadow: none;
  border: 0;
}
section.faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none;
}
section.faq .accordion .accordion-item .accordion-body p {
  font-size: 15px;
  line-height: 21px;
  color: #c9c9c9;
}
section.faq .accordion .accordion-item .accordion-collapse {
    transition: 0.3s all ease-in-out;

}


section.video {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

section.video video {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section.video .overlay {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(126, 75, 171, 0.9);
}

section.video .overlay button {
  position: absolute;
  background-color: transparent;
  border: 0;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  color: #ffffff;
  font-size: 30px;

}


section.video .overlay button i{
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0px auto 45px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}



section.contact {
  padding: 60px 0px 50px;
  background-color: #131313;
}
section.contact h4 {
  font-size: 18px;
  line-height: 48px;
  color: #758594;
  
}

section.contact form input, section.contact form textarea {
  font-size: 18px;
  line-height: 35px;
  text-align: right;
  background-color: #3f3f3f;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0;
  width: 90%;
  color: #aeadad;
}

section.contact form button {
  border-radius: 2px;
  background-color: #a044ff;
  color: #ffffff;
  padding: 10px 20px;
}


section.contact input::placeholder,section.contact form textarea::placeholder {
  color: #aeadad;

}
section.contact form input:focus, section.contact form textarea:focus {
  background-color: #3f3f3f;
  color: #aeadad;
  box-shadow: none;
}


section.contact form .invalid-feedback {
  margin-top: -15px;
  margin-bottom: 15px;
}


section.contact .blogs a.blogItem {
  text-decoration: none;
}


section.contact .blogs .d-flex {
  margin-bottom: 25px;
}

section.contact .blogs .d-flex h5 {
  font-size: 18px;
  line-height: 18px;
  color: #aeadad;
}

section.contact .blogs .d-flex p {
  font-size: 15px;
  line-height: 21px;
  color: #737373;

}